<nav class="sub-navigation">
  <ul>
    <li class="sub-navigation__item">
      <%= link_to "Govwifi support", "/support", class: "govuk-link" %>
    </li>
    <li class="sub-navigation__item">
      <a href="/connect-to-govwifi">Connect to GovWifi</a>
    </li>
    <li class="sub-navigation__item">
      <a href="/support/connect-visitors-to-govwifi">Connect visitors to GovWifi</a>
    </li>
    <li class="sub-navigation__item">
      <a href="/support/connect-to-govwifi-using-an-android-device">Connect an Android device</a>
    </li>
    <li class="sub-navigation__item">
      <a href="/support/connect-to-govwifi-using-an-iphone-or-ipad">Connect an iPhone or iPad</a>
    </li>
    <li class="sub-navigation__item">
      <a href="/support/connect-to-govwifi-using-a-mac-imac-or-macbook">Connect a Mac, iMac or Macbook</a>
    </li>
    <li class="sub-navigation__item">
      <a href="/support/connect-to-govwifi-using-a-blackberry">Connect a Blackberry</a>
    </li>
  </ul>
</nav>
