<nav class="sub-navigation">
  <ul>
    <li>
      <a href="/connect-to-govwifi">Connect to GovWifi</a>
    </li>
    <li>
      <a href="/support/connect-visitors-to-govwifi">Connect visitors to GovWifi</a>
    </li>
    <li>
      <a href="#">Check your organisation email address</a>
    </li>
  </ul>
</nav>
