<nav class="sub-navigation">
  <ul>
    <li class="sub-navigation__item ">
      <a href="/connect-to-govwifi">Connect to GovWifi</a>
    </li>
    <li class="sub-navigation__item ">
      <a href="/support/connect-visitors-to-govwifi">Connect visitors to GovWifi</a>
    </li>
    <li class="sub-navigation__item ">
      <a href="/support/connect-to-govwifi-using-an-android-device">Connect an Android device</a>
    </li>
  </ul>
</nav>
