<% menu_items = [
  { title: "Govwifi support", link: "/support/" },
  { title: "Connect to GovWifi", link: "/connect-to-govwifi/" },
  { title: "Connect visitors to GovWifi", link: "/support/connect-visitors-to-govwifi/" },
  { title: "Connect an Android device", link: "/support/connect-to-govwifi-using-an-android-device/" },
  { title: "Connect an iPhone or iPad", link: "/support/connect-to-govwifi-using-an-iphone-or-ipad/" },
  { title: "Connect a Mac, iMac or Macbook", link: "/support/connect-to-govwifi-using-a-mac-imac-or-macbook/" },
  { title: "Connect a Blackberry", link: "/support/connect-to-govwifi-using-a-blackberry/" },
  { title: "Connect a Chromebook", link: "/support/connect-to-govwifi-using-a-chromebook/" }
] %>

<nav class="sub-navigation">
  <ul>
    <% menu_items.each do |menu_item| %>
      <li class="sub-navigation__item <%= subnav_active(menu_item.fetch(:link)) %>">
        <%= link_to "<span>#{menu_item.fetch(:title)}</span>", menu_item.fetch(:link), class: "govuk-link" %>
      </li>
    <% end %>
  </ul>
</nav>
