---
title: How GovWifi works - GovWifi
description: Learn more about how the GovWifi authenication service works.
---

<div class="govuk-width-container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "How GovWifi Works" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
          <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">How GovWifi works</h1>
        <p class="govuk-body">
          To offer GovWifi in their buildings, participating public sector organisations configure their existing wifi infrastructure and configure it to access the GovWifi authentication service.
        </p>
        <h2 class="govuk-heading-m">Authentication and security</h2>
        <p class="govuk-body">
          GovWifi uses RADIUS server technology to authenticate users’ usernames and passwords.
        </p>
        <p class="govuk-body">
          Each user is protected with unique credentials and encryption keys when they sign in to the wifi and access the internet.
          These credentials are randomly generated so cannot be used to get into other systems if they're stolen.
        </p>
        <p class="govuk-body">
          Users’ devices are isolated from each other to stop the horizontal spread of malware and protect secure devices from less secure ones.
          The network also identifies itself in a way that cannot be spoofed, adding to the safety measures that provide protection from potential attackers.
        </p>
        <div class="govuk-inset-text">
          See how to <%= link_to "connect to GovWifi", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>
        </div>
      </main>
    </div>
  </div>
</div>
