---
title: Organisations using GovWifi - GovWifi
description: Find all the public sector organisations where GovWifi is available
---

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <div>
        <%= partial 'shared/product/sidebar' %>
      </div>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Organisations using GovWifi</h1>
      <p>
        GovWifi is currently available in a wide range of government and public
        sector organisations. Learn more about how to
        <%= link_to "connect your device to GovWifi", "/connect-to-govwifi" %>
      </p>

      <div class="govuk-form-group govuk-!-margin-bottom-4">
        <input class="govuk-input" id="search-table" type="text" placeholder="Search organisations">
      </div>

      <% organisations = data.organisations.sort %>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-half">Organisation</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% organisations.each do |organisation| %>
            <tr class="govuk-table__row result-row results">
              <td class="govuk-table__cell govuk-!-width-one-half result-text" scope="row">
                <%= organisation %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="govuk-body govuk-!-margin-top-3" id="no-results" style="display: none">
        <strong>No results found</strong>
      </p>
    </div>
  </div>
</div>

<%= partial 'shared/dynamic_search_bar' %>
