@charset "utf-8";

@import "govuk-frontend/govuk/all";

//@import "govuk-frontend/govuk/components/breadcrumbs/breadcrumbs";
//@import "govuk-frontend/govuk/components/inset-text/inset-text";
//@import "govuk-frontend/govuk/components/input/input";
//@import "govuk-frontend/govuk/overrides/spacing";
//@import "govuk-frontend/govuk/components/footer/footer";
//@import "govuk-frontend/govuk/components/button/button";

//@import "govuk_frontend_toolkit/stylesheets/colours";
//@import "govuk_frontend_toolkit/stylesheets/conditionals";
//@import "govuk_frontend_toolkit/stylesheets/css3";
//@import "govuk_frontend_toolkit/stylesheets/device-pixels";
//@import "govuk_frontend_toolkit/stylesheets/font_stack";
//@import "govuk_frontend_toolkit/stylesheets/grid_layout";
//@import "govuk_frontend_toolkit/stylesheets/helpers";
//@import "govuk_frontend_toolkit/stylesheets/measurements";
//@import "govuk_frontend_toolkit/stylesheets/typography";
//@import "govuk_frontend_toolkit/stylesheets/url-helpers";

//@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

//@import "govuk-elements-sass/public/sass/elements/helpers";
//@import "govuk-elements-sass/public/sass/elements/buttons";
//@import "govuk-elements-sass/public/sass/elements/elements-typography";
//@import "govuk-elements-sass/public/sass/elements/forms";
//@import "govuk-elements-sass/public/sass/elements/layout";
//@import "govuk-elements-sass/public/sass/elements/lists";
//@import "govuk-elements-sass/public/sass/elements/panels";
//@import "govuk-elements-sass/public/sass/elements/tables";

//@import "govuk_template/source/assets/stylesheets/styleguide/colours";
//@import "govuk_template/source/assets/stylesheets/accessibility";
//@import "govuk_template/source/assets/stylesheets/footer";

@import "util/printable";
@import "util/flexbox";
@import "util/typography";
@import "util/colours";

@import "modules/breadcrumbs";
@import "modules/content-section";
@import "modules/full-width-form";
@import "modules/govuk-logo";
@import "modules/header";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/hero-button";
@import "modules/images";
@import "modules/masthead";
@import "modules/phase-banner";
@import "modules/sticky";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/skip-link";
@import "modules/striped-table";
@import "modules/sub-navigation";
@import "modules/task-list";
@import "modules/cookie-banner";

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "GDS Transport", Arial, sans-serif;
}

// scss-lint:disable IdSelector
#main {
  display: block;
  margin-bottom: $govuk-gutter * 3;
}
// scss-lint:enable IdSelector

.content-section--with-top-border {
  padding-top: 5px;
  border-top: 1px #dee0e2 solid;
}

.mobile_image_size {
  height: 100%;
  width: 165%;
}

.privacy_policy_nav_colour {
  background-color: govuk-colour("white");
}

a.long-link {
  word-wrap: break-word;
}

a:link {
  color: $govuk-link-colour;
}

a:visited {
  color: $govuk-link-visited-colour;
}

a:hover {
  color: $govuk-link-hover-colour;
}

a:active {
  color: $govuk-link-active-colour;
}
