@charset "utf-8";

@import "../../node_modules/govuk-frontend/govuk/all";

@import "util/colours";

@import "modules/cookies";
@import "modules/hero";
@import "modules/hero-button";
@import "modules/images";
@import "modules/masthead";
@import "modules/sticky";
@import "modules/skip-link";
@import "modules/striped-table";
@import "modules/sub-navigation";

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "GDS Transport", Arial, sans-serif;
}

// scss-lint:disable IdSelector
#main {
  display: block;
  background-color: govuk-colour('white');
}
// scss-lint:enable IdSelector
