@charset "utf-8";

@import "govuk-frontend/govuk/all";

@import "util/printable";
@import "util/flexbox";
@import "util/typography";
@import "util/colours";

@import "modules/full-width-form";
@import "modules/hero";
@import "modules/hero-alternative-action";
@import "modules/hero-button";
@import "modules/images";
@import "modules/masthead";
@import "modules/phase-banner";
@import "modules/sticky";
@import "modules/related-items";
@import "modules/responsive-embed";
@import "modules/skip-link";
@import "modules/striped-table";
@import "modules/sub-navigation";
@import "modules/task-list";
@import "modules/cookie-banner";

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "GDS Transport", Arial, sans-serif;
}

// scss-lint:disable IdSelector
#main {
  display: block;
}
// scss-lint:enable IdSelector

.content-section--with-top-border {
  padding-top: 5px;
  border-top: 1px #dee0e2 solid;
}

.mobile_image_size {
  height: 100%;
  width: 165%;
}

.privacy_policy_nav_colour {
  background-color: govuk-colour("white");
}

a.long-link {
  word-wrap: break-word;
}

a:link {
  color: $govuk-link-colour;
}

a:visited {
  color: $govuk-link-visited-colour;
}

a:hover {
  color: $govuk-link-hover-colour;
}

a:active {
  color: $govuk-link-active-colour;
}
