<nav class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/about-govwifi">About</a>
    </li>
    <li class="govuk-breadcrumbs__list-item bold" aria-current="page"><%= locals[:page] %></li>
  </ol>
</nav>
