<% menu_items = [
  { title: "Connect to GovWifi", link: "/about-govwifi/connect-to-govwifi/" },
  { title: "What is GovWifi?", link: "/about-govwifi/" },
  { title: "How GovWifi works", link: "/about-govwifi/how-govwifi-works/" },
  { title: "Organisations using GovWifi", link: "/about-govwifi/organisations-using-govwifi/" }
] %>

<nav class="sub-navigation">
  <ul>
    <% menu_items.each do |menu_item| %>
      <li class="sub-navigation__item <%= subnav_active(menu_item.fetch(:link)) %>">
        <%= link_to menu_item.fetch(:title), menu_item.fetch(:link), class: "govuk-link" %>
      </li>
    <% end %>
  </ul>
</nav>
