<nav class="sub-navigation">
  <ul>
    <li class="sub-navigation__item">
      <a href="/what-is-govwifi">What is GovWifi?</a>
    </li>
    <li class="sub-navigation__item">
      <a href="/about-govwifi/how-govwifi-works">How GovWifi works</a>
    </li>
  </ul>
</nav>
