<nav class="sub-navigation">
  <ul>
    <li class="sub-navigation__item">
      <%= link_to "What is GovWifi?", "/about-govwifi" %>
    </li>
    <li class="sub-navigation__item">
      <%= link_to "Who GovWifi is for", "/about-govwifi/who-govwifi-is-for" %>
    </li>
  </ul>
</nav>
