<% menu_items = [
  { title: "Connect to GovWifi", link: "/connect-to-govwifi/" },
  { title: "Connect using an Android device", link: "/connect-to-govwifi/device-android/" },
  { title: "Connect using an iPhone or iPad", link: "/connect-to-govwifi/device-iphone-or-ipad/" },
  { title: "Connect using a Windows device", link: "/connect-to-govwifi/device-windows/" },
  { title: "Connect using a Mac", link: "/connect-to-govwifi/device-mac/" },
  { title: "Connect using a Chromebook", link: "/connect-to-govwifi/device-chromebook/" },
  { title: "Connect using a BlackBerry", link: "/connect-to-govwifi/device-blackberry/" },
  { title: "Get help connecting", link: "/connect-to-govwifi/get-help-connecting/" },
  { title: "Organisations using GovWifi", link: "/connect-to-govwifi/organisations-using-govwifi/" }
] %>

<nav class="sub-navigation">
  <ul class="govuk-list">
    <% menu_items.each do |menu_item| %>
      <li class="sub-navigation__item <%= subnav_active(menu_item.fetch(:link)) %>">
        <%= link_to menu_item.fetch(:title), menu_item.fetch(:link), class: "app-subnav__link govuk-link govuk-link--no-visited-state" %>
      </li>
    <% end %>
  </ul>
</nav>
