<%= partial "troubleshooting/shared/instructions_header" %>

<p>
  Step 1 - Select the wifi icon at the top right of your screen.
</p>

<p>
  Step 2 - Select <strong>GovWifi</strong>.
</p>
<%= image_tag "troubleshooting/mac-os-step-2.png", class: "img-fluid" %>

<p>
  Step 3 - Enter the GovWifi username and password you received by email or text
  message.

  Your password is case sensitive. It’s 3 words without spaces. The first letter
  of each word is capitalised.
</p>

<p>
  Step 4 - Select <strong>Join</strong>. You will be asked to confirm the network
  is genuine by checking the certificate.
</p>
<%= image_tag "troubleshooting/mac-os-step-4.png", class: "img-fluid" %>

<p>
  Step 5 - Select <strong>Show Certificate.</strong>
</p>
<%= image_tag "troubleshooting/mac-os-step-5.png", class: "img-fluid" %>

<p>
  Step 6 - Check that the certificate is called <strong>wifi.service.gov.uk</strong>
  and it’s issued by the <strong>GeoTrust DV SSL SHA256 CA.</strong>
</p>

<p>
  Step 7 - If so, select <strong>Continue</strong>.
</p>

<p>
  Step 8 - Your device will ask you for your computer password to save these settings.
  This is the password you normally use to sign into your computer.
</p>

<p>
  You should now be connected to GovWifi.
</p>
