<h3>Network problems</h3>
<p>
  If your device can connect to public wifi networks like coffee shop wifi, you should be able to connect to GovWifi.
</p>

<p>
  If you can’t see the GovWifi network in your wifi settings, you might be in a building that doesn’t have GovWifi. Look for GovWifi posters or contact the local IT team to check.
</p>

<p>
  You might be using a managed device if you can:
</p>
<ul class="list list-bullet">
  <li>
    connect other devices to GovWifi but you can’t see the network on a specific device
  </li>
  <li>
    see the GovWifi network but your device tells you that you don’t have permission to connect
  </li>
</ul>

<p>
  If you think you are using a managed device, contact your local IT team. They’ll tell you if:
  <ul class="list list-bullet">
    <li>
      they can install a profile for GovWifi so that you can connect
    </li>
    <li>
      you’re using a secure government device that’s not allowed to connect to GovWifi
    </li>
  </li>
</ul>


<h3>Device problems</h3>
<p>
  Check you’ve followed the instructions for your device. All details are case sensitive.
</p>

<p>
  Find more details above on this page for:
</p>

<ul class="list list-bullet">
  <li>Android</li>
  <li>Chromebook</li>
  <li>iPhone and iPad</li>
  <li>Windows 8 and 10</li>
  <li>Windows 7</li>
</ul>
