<p class="govuk-body">Enter the GovWifi username and password you received by email or text. Your password is case sensitive. It's 3 words without spaces. The first letter of each word is capitalised.</p>
