---
title: Network administrator support - GovWifi
description: Govwifi support request for network administrators
---
<div class="container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "Network administrator support" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <%= partial '/shared/support/_sidebar' %>
    </div>

    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">Network administrator support</h1>
        <p>
          If you manage public sector IT services and require support setting up a
          new or managing an existing GovWifi installation, please
          <%= link_to "contact us", "https://admin.wifi.service.gov.uk/help", class: "govuk-link" %>.
        </p>
        <p>
          The Government Digital Service (GDS) maintains the service behind GovWifi
          and helps network administrators to set up or manage existing GovWifi
          installation in their organisation.
        </p>
    </div>
  </div>
</div>
