<body onload="checkCookie()"></body>
<script>
  function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue;
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function checkCookie() {
    var user = getCookie("govwifi-cookie-policy");
    if (user != "") {
      document.getElementById("cookie-banner").style.display = "none";
    } else {
      setCookie("govwifi-cookie-policy", '1');
    }
  }
</script>
