<div class="app-cookie-banner js-cookie-banner cookie-banner" id='cookie-banner'>
  <p class='cookie-banner-text header__container'>GovWifi uses cookies to make the site simpler <a class="govuk-link" href="/cookies/">find out more about cookies</a></p>
</div>
