<div class="app-cookie-banner js-cookie-banner cookie-banner" id="cookie-banner">
  <p class="govuk-width-container">GovWifi uses cookies to give you the best possible experience on our site. <a class="govuk-link" href="/cookies/">Learn more about our cookie policy</a></p>
</div>
