<div class="column-one-third">
  <nav class="sub-navigation">
    <ol itemscope itemtype="http://schema.org/ItemList">
      <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/connect" itemprop="item"><span itemprop="name">Connect to GovWifi</span></a>
      </li>

      <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/troubleshooting" itemprop="item"><span itemprop="name">Troubleshooting</span></a>
      </li>
    </ol>
  </nav>
</div>
