<% menu_items = [
  { title: "Who we are", link: "#who-we-are" },
  { title: "What data we collect from you", link: "#what-data-we-need" },
  { title: "Our legal basis for processing your data", link: "#legal-basis" },
  { title: "Why we need your data", link: "#why-we-need-it" },
  { title: "What we do with your data", link: "#what-we-do-with-it" },
  { title: "How long we keep your data", link: "#how-long-we-keep-your-data" },
  { title: "Your rights", link: "#what-are-your-rights" },
  { title: "How to contact us", link: "#how-to-contact-us" }
] %>

<nav class="sub-navigation">
  <ul class="govuk-list">
    <% menu_items.each do |menu_item| %>
      <li class="sub-navigation__item">
        <%= link_to menu_item.fetch(:title), menu_item.fetch(:link), class: "govuk-link" %>
      </li>
    <% end %>
  </ul>
</nav>
