---
title: Connect to GovWifi using an iPhone or iPad - GovWifi
description: Follow these instructions to connect your iPhone or iPad to GovWifi
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/product/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using an iPhone or iPad</h1>
        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/connect-to-govwifi", class: "govuk-link" %>, follow the steps below. Depending on your device, you may need to scroll down to see all the fields.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Go to wifi settings and select <strong>GovWifi</strong>.</p>
          </li>
          <li><%= partial 'shared/copy/password_instructions' %>
          <%= image_tag "troubleshooting/ios-step-1.jpg", class: "img-fluid", alt: "Screenshot of WiFi credentials input on iOS" %>
          </li>
          <li>
            <p class="govuk-body">You'll be shown the 'certificate' and asked to trust it.</p>
            <p class="govuk-body">Your device should show that the certificate is called <strong>wifi.service.gov.uk</strong> and is issued by <strong>GeoTrust RSA CA 2018</strong>.</p>
            <p class="govuk-body">It might also say ‘Not trusted’, which just means your device does not recognise the network yet.</p>
          </li>
          <li><p class="govuk-body">Select <strong>More Details</strong> and scroll down to the 'Fingerprints' section at the bottom of the page.</p></li>
          <li>
            <p class="govuk-body"><p>Check that the SHA-1 Fingerprint matches:</p>
            <p class="govuk-body"> <strong>37 CE B5 7A 3F 38 EB 7C 66 A2 4E 90 BB 11 71 D7 BC 4D 65 1A</strong></p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Certificate</strong> in the top left to go back to the previous screen.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Trust</strong> in the top right to connect to GovWifi.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <h2 class="govuk-heading-m">Support</h2>
        <p class="govuk-body">If you're having problems, contact IT support for the building you're in.</p>
      </main>
    </div>
  </div>
</div>
