---
title: Connect to GovWifi using a Chromebook - GovWifi
description: Follow these instructions to connect your Chromebook to GovWifi
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/product/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using a Chromebook</h1>
        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/connect-to-govwifi", class: "govuk-link" %>, follow the steps below.</p>
        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Select the wifi icon in the bottom right of the screen. A list of wifi connections will appear.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>GovWifi</strong>. A settings menu will appear.</p>
            <%= image_tag "troubleshooting/chrome-step-2.jpg", alt: 'Screenshot of the WiFi network settings dialog on Chromebooks', class: "img-fluid" %>
          </li>
          <li>
            <p class="govuk-body">For <strong>EAP method</strong>, select <strong>PEAP</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">For <strong>Phase-2 authentication</strong>, select <strong>Automatic</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">For <strong>Server CA certificate</strong>, select <strong>Default</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">For <strong>Identity</strong>, enter the GovWifi username you received by email or text.</p>
          </li>
          <li>
            <p class="govuk-body">For <strong>Password</strong>, enter the GovWifi password you received by email or text. Your password is case sensitive. It's 3 words without spaces. The first letter of each word is capitalised.</p></li>
          </li>
          <li>
            <p class="govuk-body">Leave <strong>Anonymous identity</strong> blank.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Connect</strong>.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <h2 class="govuk-heading-m">Support</h2>

        <p class="govuk-body">If you're having problems, contact IT support for the building you're in.</p>

        <h3 class="govuk-heading-s">"Out of range" error message</h3>

        <p class="govuk-body">If you get a message that says "Failed to connect to the network GovWifi: Out of range" it may be because you’re already connected to a different network.</p>

        <%= image_tag "troubleshooting/chrome-network-connection.jpg", class: "img-fluid", alt: "Network connection error dialog on Chromebooks" %>

        <p class="govuk-body">You need to disconnect from the other network for GovWifi to work.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Select the wireless symbol in the bottom right of your screen. A list of wifi networks will appear.</p>
          </li>
          <li>
            <p class="govuk-body">Right click on the network name your device is currently connected to and select the option to disconnect.</p>
          </li>
          <li>
            <p class="govuk-body">Try connecting to GovWifi again.</p>
          </li>
      </main>
    </div>
  </div>
</div>
