---
title: Get help connecting - GovWifi
description: Get help with any problems you have connecting to GovWifi.
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
          <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Get help connecting to GovWifi</h1>

        <h2 class="govuk-heading-m">If your username and password did not arrive</h2>

        <p class="govuk-body">If you signed up by email:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            check your spam or junk folder
          </li>
          <li>
            <a href="/connect-to-govwifi/check-organisation-email-address" class="govuk-link">
              check your organisation can sign up by email
            </a>
          </li>
          <li>
            <a href="/connect-to-govwifi" class="govuk-link">
              sign up by text instead
            </a>
          </li>
        </ul>

        <p class="govuk-body">
          If you signed up by text message:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            sign up by email if you  have a public sector email address
          </li>
          <li>
            <a href="/connect-to-govwifi/ask-staff-member" class="govuk-link">
              ask someone with a public sector email address to sign you up
            </a>
          </li>
          <li>
            contact the IT support desk for the building you’re in
          </li>
        </ul>

        <h2 class="govuk-heading-m">If you’re having problems connecting for the first time</h2>

        <p class="govuk-body">
          To try and fix the problem:
        </p>

        <ul class="govuk-list govuk-list--bullet">

            <li>
              check you’re entering your username and password correctly - they’re case sensitive
            </li>
            <li>
              follow the instructions for the type of device you’re using - there are instructions for
              <a class="govuk-link" href="/connect-to-govwifi/device-android">Android</a>,
              <a class="govuk-link" href="/connect-to-govwifi/device-iphone-or-ipad">iPhone or iPad</a>,
              <a class="govuk-link" href="/connect-to-govwifi/device-mac">Mac</a>,
              <a class="govuk-link" href="/connect-to-govwifi/device-windows">Windows</a>,
              <a class="govuk-link" href="/connect-to-govwifi/device-chromebook">Chromebook</a> and
              <a class="govuk-link" href="/connect-to-govwifi/device-blackberry">BlackBerry</a>
            </li>
            <li>
              contact the IT support desk for the building you’re in - connection problems are usually due to the local network or your device
            </li>

        </ul>

        <h2 class="govuk-heading-m">If you’re having problems and you've connected before</h2>

        <p class="govuk-body">You can:</p>

        <ul class="govuk-list govuk-list--bullet">

          <li>
            check you’re using the correct details by sending a blank email from your public sector email address to <a class="govuk-link" href="mailto:signup@wifi.service.gov.uk">signup@wifi.service.gov.uk</a> or texting ‘Go’ to 07537 417 417
          </li>
          <li>
            make sure you’re entering your username and password correctly - they’re case sensitive
          </li>
          <li>
            contact the IT support desk for the building you’re in - connection problems are usually because of the local network or your device
          </li>

        </ul>

        <h2 class="govuk-heading-m">Get a password reminder</h2>

        <p class="govuk-body">
          Get a reminder of your username and password by either:
        </p>

        <ul class="govuk-list govuk-list--bullet">

            <li>texting ‘Go’ to 07537 417 417</li>
            <li>sending a blank email from your public sector email address to <a class="govuk-link" href="mailto:signup@wifi.service.gov.uk">signup@wifi.service.gov.uk</a></li>

        </ul>

        <p class="govuk-body">
          We'll reply with your username and password.
        </p>

      </main>
    </div>
  </div>
</div>
