---
title: Get help connecting - GovWifi
description: Get help with any problems you have connecting to GovWifi.
---

<div class="govuk-width-container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "Connect to GovWifi" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
          <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Get help connecting to GovWifi</h1>

        <h2 class="govuk-heading-m">If your username and password did not arrive</h2>

        <p class="govuk-body">If you signed up by email:</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Check your spam or junk folder.</p>
          </li>
          <li>
            <p class="govuk-body">Check the organisation you work for is eligible to use GovWifi. If it’s not eligible, contact us to get it added to the list or sign up by text instead.</p>
          </li>
        </ol>

        <p class="govuk-body">
          If you signed up by text message:
        </p>

        <ol class="govuk-list govuk-list--number">
          <li>Sign up by email if you  have a public sector email address.</li>
          <li>Ask someone with a public sector email address to sign you up.</li>
          <li>Contact the IT support desk for the building you’re in.</li>
        </ol>

        <h2 class="govuk-heading-m">If you’re having problems connecting for the first time</h2>

        <ol class="govuk-list govuk-list--number">

            <li>Check you’re entering your username and password correctly. They’re case sensitive.</li>
            <li>Try to fix the problem using the instructions for the type of device you’re using - there are instructions for Android, iPhone or iPad, Mac, Windows, Chromebook and Blackberry.</li>
            <li>Contact the IT support desk for the building you’re in. Connection problems are usually because of the local network or your device.</li>

        </ol>

        <h2 class="govuk-heading-m">If you’re having problems and you've connected before</h2>

        <ol class="govuk-list govuk-list--number">

          <li>Check you’re using the correct details by sending a blank email from your public sector email address to signup@wifi.service.gov.uk or texting ‘Go’ to 07537 417 417</li>
          <li>Make sure you’re entering your username and password correctly - they’re case sensitive.</li>
          <li>Contact the IT support desk for the building you’re in. Connection problems are usually because of the local network or your device. </li>

        </ol>

        <h2 class="govuk-heading-m">Get a password reminder</h2>

        <p class="govuk-body">
          Get a reminder of your username and password by either:
        </p>

        <ul class="govuk-list govuk-list--bullet">

            <li>texting ‘Go’ to 07537 417 417</li>
            <li>sending a blank email from your public sector email address to signup@wifi.service.gov.uk</li>

        </ul>

        <p class="govuk-body">
          We'll reply with your username and password.
        </p>

      </main>
    </div>
  </div>
</div>
