---
title: Accept the GovWifi server certificate - GovWifi
description: Information about accepting the new GovWifi server certificate to keep using the service
---
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Accept the new GovWifi certificate</h1>
        <p class="govuk-body">On 5 July 2021, we’ll renew the GovWifi ‘certificate’. Your device checks this certificate each time you connect to GovWifi to make sure it’s connecting to the genuine network.</p>
        <p class="govuk-body">You might need to accept the new certificate on your device to continue using GovWifi.</p>
        <div class="govuk-inset-text">If you’re ever asked to accept a new GovWifi certificate without being told about it in advance, do not accept it. Report it to the IT support desk for the building you’re in.</div>

        <h2 class="govuk-heading-m">What to do depends on your device</h2>

        <p class="govuk-body">The next time you try to connect to GovWifi, your device might automatically check the new certificate and accept it. In this case, you will not need to do anything.</p>

        <p class="govuk-body">Or, you may be asked to accept the new certificate.</p>

        <h3 class="govuk-heading-s">If your device asks you to accept the new certificate</h3>
        <ol class="govuk-list govuk-list--number">
          <li>View the certificate.</li>
          <li>Check that the domain is <strong>wifi.service.gov.uk</strong></li>
          <li>Check the issuer is <strong>GeoTrust TLS DV RSA Mixed SHA256 2020 CA-1</strong></li>
          <li>Check the fingerprint or thumbprint is <strong>AC 70 5D 2B 63 36 4B 3C A4 1D 13 8E 9B F7 11 E7 21 E9 E6 2A</strong></li>
          <li>Accept or trust the new certificate.</li>
        </ol>

        <p class="govuk-body">Depending on your device, you may not be able to see all the information referred to here.</p>

        <h2 class="govuk-heading-m">If you're having problems</h2>

        <p class="govuk-body">If you’re on a work device, contact the organisation that gave you the device. You may not have permission to accept the new certificate.</p>

        <p class="govuk-body">If you've accepted the certificate but you still cannot connect:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>forget the network and try again</li>
          <li>restart your device and try again</li>
          <li>follow our <%= link_to "guidance on common issues", "/connect-to-govwifi/get-help-connecting", class: "govuk-link" %></li>
          <li>contact the IT support desk for the building you're in</li>
        </ul>

      </main>
    </div>
  </div>
</div>
