---
title: What is GovWifi? - GovWifi
description: GovWifi is an authentication service that makes all participating government and public sector guest wifi networks appear as one.
---

<div class="govuk-width-container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "What is GovWifi" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">What is GovWifi?</h1>
        <p class="govuk-body">
          GovWifi is a wifi authentication service running in the cloud. It makes participating public sector guest wifi networks appear as one.
        </p>
        <p class="govuk-body">
          The <%= link_to "Government Digital Service", "https://www.gov.uk/government/organisations/government-digital-service ", class: "govuk-link" %> operates the GovWifi service and helps network administrators set up and manage GovWifi in their organisations.
        </p>
        <h2 class="govuk-heading-m">Benefits</h2>
        <p class="govuk-body">
          Public sector organisations often have several
          wifi networks across their various office locations. Each organisation
          often designs, procures, deploys and operates separate guest wifi networks.
        </p>
        <p class="govuk-body">
          For staff and members of the public visiting and working across these sites,
          this typically means managing multiple wifi usernames and passwords.
        </p>
        <p class="govuk-body">
          With GovWifi, public sector staff and visitors only need to sign up once. They can then automatically connect to a single wifi service
          across multiple public sector locations.
        </p>
        <div class="govuk-inset-text">
          See how to <%= link_to "connect your device to GovWifi", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>.
        </div>
      </main>
    </div>
  </div>
</div>
