---
title: What is GovWifi? - GovWifi
description: GovWifi is an authentication service that makes all participating government and public sector guest wifi networks appear as one.
---

<div class="container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "What is GovWifi" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <div>
        <%= partial 'shared/product/sidebar' %>
      </div>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">What is GovWifi?</h1>
      <p>
        GovWifi is a wifi authentication service running in the cloud that makes all the various participating public sector guest wifi networks appear as one.
      </p>
      <p>
        The <%= link_to "Government Digital Service", "https://www.gov.uk/government/organisations/government-digital-service ", class: "govuk-link" %> operates the GovWifi service and supports public sector network administrators to set up and manage GovWifi in their organisations.
      </p>
      <h2 class="heading-medium">Unified public sector guest wifi</h2>
      <p>
        Public sector organisations often have several different
        wifi networks across their various office locations. Each organisation
        often designs, procures, deploys and operates separate guest wifi networks.
      </p>
      <p>
        For staff and members of the public, visiting and working across these sites,
        this typically means managing multiple wifi username/password combinations
        for each site location.
      </p>
      <p>
        GovWifi allows public sector staff and visitors to signup once and use
        the same username and password to automatically connect to a single wifi service
        across multiple public sector locations.
      </p>
      <div class="govuk-inset-text">
        <%= link_to "Learn more about how to connect your device to GovWifi", "/about-govwifi/connect-to-govwifi", class: "bold" %>
      </div>
    </div>
  </div>
</div>
