---
title: What is GovWifi? - GovWifi
description: GovWifi is an authentication service that makes all participating government and public sector guest wifi networks appear as one. 
---

<div class="govuk-width-container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "What is GovWifi" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">What is GovWifi?</h1>
        <p class="govuk-body">
          GovWifi is a wifi authentication service running in the cloud that makes all the various participating public sector guest wifi networks appear as one.
        </p>
        <p class="govuk-body">
          The <%= link_to "Government Digital Service", "https://www.gov.uk/government/organisations/government-digital-service ", class: "govuk-link" %> operates the GovWifi service and supports public sector network administrators to set up and manage GovWifi in their organisations.
        </p>
        <h2 class="govuk-heading-m">Unified public sector guest wifi</h2>
        <p class="govuk-body">
          Public sector organisations often have several different
          wifi networks across their various office locations. Each organisation
          often designs, procures, deploys and operates separate guest wifi networks.
        </p>
        <p class="govuk-body">
          For staff and members of the public, visiting and working across these sites,
          this typically means managing multiple wifi username/password combinations
          for each site location.
        </p>
        <p class="govuk-body">
          GovWifi allows public sector staff and visitors to signup once and use
          the same username and password to automatically connect to a single wifi service
          across multiple public sector locations.
        </p>
        <div class="govuk-inset-text">
          <strong><%= link_to "Learn more about how to connect your device to GovWifi", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %></strong>
        </div>
      </main>
    </div>
  </div>
</div>
