---
title: Accessibility statement - GovWifi
description: This statement documents our progress in terms of accessibility.
---
<main class="govuk-width-container" role="main" id="main">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div id="accessibility-statement" class="govuk-grid-column-two-thirds">
        <%= partial 'statement' %>
      </div>
    </div>
  </div>
</main>
