---
title: Help with Connecting to GovWifi
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">Overview</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Connect to GovWifi</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <%= partial "shared/end_user_nav" %>

    <div class="column-two-thirds">
      <h1 class="heading-large">How to connect to GovWifi</h1>
    </div>
  </div>
</div>
