---
title: Help with Connecting to GovWifi
---

<div class="container">
  <div class="grid-row">
    <%= partial "shared/end_user_nav" %>

    <div class="column-two-thirds">
      <h1 class="heading-large">How to connect to GovWifi</h1>
    </div>
  </div>
</div>
