  ---
  title: Cookies
  ---
  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">GovWifi</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">Cookies</span></a>
      </li>
    </ol>
  </nav>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Cookies</h1>
        <p class="govuk-body">GOV.UK GovWifi puts small files (known as ‘cookies’) onto your computer.</p>
        <p class="govuk-body">These cookies are used to remember you once you’ve logged in.</p>
        <p class="govuk-body"> Find out how to <%= link_to "manage cookies.", 'https://ico.org.uk/your-data-matters/online/cookies/' %></p>

        <h1 class="heading-medium">Session cookies</h1>
        <p class="govuk-body"> We store session cookies on your computer to help keep your information secure while you use the service.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Purpose</th>
            <th class="govuk-table__header" scope="col">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">notify_admin_session</td>
              <td class="govuk-table__cell">Used to keep you logged in</td>
              <td class="govuk-table__cell">10 hours</td>
            </tr>
        </tbody>
      </table>

      </div>
    </div>
  </div>
