---
title: Cookies
---
  <nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">GovWifi</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">Cookies</span></a>
      </li>
    </ol>
  </nav>

  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Cookies</h1>
        <p class="govuk-body">GOV.UK GovWifi puts small files (known as ‘cookies’) onto your computer.</p>
        <p class="govuk-body">These cookies are used to remember you once you’ve logged in.</p>
        <p class="govuk-body"> Find out how to <%= link_to "manage cookies.", 'https://ico.org.uk/your-data-matters/online/cookies/' %></p>

        <h1 class="heading-medium">Session cookies</h1>
        <p class="govuk-body"> We store session cookies on your computer to help keep your information secure while you use the service.</p>

      <table>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>_notify_admin_session</td>
              <td>Used to keep you logged in</td>
              <td>1 hour</td>
            </tr>
        </tbody>
      </table>

        <h1 class="heading-medium">Measuring website usage (Google Analytics)</h1>
        <p>We use Google Analytics software to collect anonymised information about how you use GOV.UK GovWifi. We do this to
        help make sure the site is meeting the needs of its users and to help us make improvements.</p>
        <p>Google Analytics stores information about:</p>

        <ul class="list list-bullet">
          <li>the pages you visit</li>
          <li>how long you spend on each page</li>
          <li>how you arrived at the site</li>
          <li>what you click on while you’re visiting the site</li>
          <li>the device and browser you’re using</li>
        </ul>

        <p>We don’t collect or store your personal information (for example your name or address)
        so this information can’t be used to identify who you are. </p>
        <p>We don’t allow Google to use or share our analytics data. </p>
        <p>Google Analytics sets the following cookies: </p>

      <table>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Purpose</th>
            <th scope="col">Expires</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>_ga</td>
              <td>This helps us count how many people visit GOV.UK GovWifi by tracking if you’ve visited before</td>
              <td>3 years</td>
            </tr>
        </tbody>
      </table>

      </div>
    </div>
  </div>
