---
title: Cookies
---

<div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol class="govuk-breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="govuk-breadcrumbs__list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="govuk-breadcrumbs__link" href="/" itemprop="item"><span itemprop="name">GovWifi</span></a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        Cookie
      </li>
    </ol>
  </nav>
  <main class="govuk-main-wrapper" role="main" id="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Cookies</h1>
        <p class="govuk-body">GovWifi puts small files (known as ‘cookies’) onto your computer.</p>
        <p class="govuk-body">Cookies are used to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>keep your session open</li>
          <li>avoid malicious requests</li>
        </ul>

        <p class="govuk-body"> Find out how to <%= link_to "manage cookies.", 'https://ico.org.uk/your-data-matters/online/cookies/', class: "govuk-link" %></p>

        <h2 class="govuk-heading-m">Session cookies</h2>
        <p class="govuk-body">We store session cookies on your computer to help keep your information secure.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">_govwifi_admin_session</td>
              <td class="govuk-table__cell">Used to keep you logged in</td>
              <td class="govuk-table__cell">When the browsing session ends</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
