---
title: Check if GovWifi is right for your organisation
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Overview</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Documentation</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Search
        </label>
      </div>
      <div>
        <input class="govuk-input govuk-input--width-40" id="width-40" name="width-40" type="text">
      </div>

      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/about-govwifi.html" itemprop="item"><span itemprop="name">About GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/about-govwifi.html">Use</a> </li>
              <li> <a href="supplementary/about-govwifi.html">Benefits</a> </li>
              <li> <a href="supplementary/about-govwifi.html">Adoption rate</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/before-you-start.html" itemprop="item"><span itemprop="name">Before you start</span></a>
            <ul>
              <li> <a href="supplementary/before-you-start.html">Check if GovWifi is right</a> </li>
              <li> <a href="supplementary/before-you-start.html">Terms and conditions</a> </li>
              <li> <a href="supplementary/before-you-start.html">Privacy notice</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/requirements.html" itemprop="item"><span itemprop="name">Requirements and recommendations</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Administrator requirements</a> </li>
              <li> <a href="supplementary/requirements.html">Hardware recommended on network infrastructure</a> </li>
              <li> <a href="supplementary/requirements.html">Wireless AP configuration</a> </li>
              <li> <a href="supplementary/requirements.html">Operational requirements</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Set up GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Step 1: Apply to create a new GovWifi</a> </li>
              <li> <a href="supplementary/requirements.html">Step 2: Establish your public IP addresses</a> </li>
              <li> <a href="supplementary/requirements.html">Step 3: Register your site to GovWifi</a> </li>
              <li> <a href="supplementary/requirements.html">Step 4: Configure your infrastructure</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Trial phase</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">General information</a> </li>
              <li> <a href="supplementary/requirements.html">How to test</a> </li>
              <li> <a href="supplementary/requirements.html">How to measure the performance</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Go live</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">When to go live</a> </li>
              <li> <a href="supplementary/requirements.html">What will be different</a> </li>
              <li> <a href="supplementary/requirements.html">Inform your users</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Maintain GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Administration Platform</a> </li>
              <li> <a href="supplementary/requirements.html">Add locations</a> </li>
              <li> <a href="supplementary/requirements.html">Change admins</a> </li>
              <li> <a href="supplementary/requirements.html">Request information</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Troubleshooting</span></a>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Scale GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Advertise GovWifi</a> </li>
              <li> <a href="supplementary/requirements.html">Withdraw legacy services</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Leave GovWifi</span></a>
          </li>


        </ol>
      </nav>
    </div>


    <div class="column-two-thirds">
      <h1 class="heading-large">About GovWifi</h1>

      <h2>Use</h2>
      <p>GovWifi is an authentication service running in the cloud that makes all the various participating
        wifi networks appear as one. Participating organisations configure their wifi infrastructure to
        access the GovWifi authentication service using the RADIUS open standard.</p>
      <p>Each end user is protected with unique credentials and encryption keys when they log in to the
        wifi and access the internet. These credentials are randomly generated so can’t be used to get into
        other systems if stolen.</p>
      <p>Once logged in, users can access their organisation’s resources in the same way they would if they
        were working away from the office. Depending on an organisation’s requirements, users may need to
        use a virtual private network (VPN). Users’ devices are isolated from each other to stop the
        horizontal spread of malware and protect secure devices from less secure ones.</p>
      <p>The network also identifies itself in a way that can’t be spoofed, adding to the safety measures that
        provide protection from potential attackers.</p>

      <h2>Benefits</h2>
      <p>GovWifi is a single wifi login which can be simply and cheaply installed by government departments
        over their existing infrastructure.</p>
      <p>Anyone who registers with GovWifi will have access to wifi at any participating public sector location.
        It’s available to civil servants, consultants and visitors to government departments. Users
        register once. After that, they’ll automatically connect to the GovWifi network.</p>

      <h2>Adoption rate</h2>
      <p>GovWifi currently has over 160,000 registered users, and around 50,000unique users every day.</p>
      <p>For more information see GovWifi’s page on the GOV.UK Performance Platform.</p>

    </div>

  </div>
</div>
