---
title: Get started
---
<nav class="breadcrumbs" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">GovWifi</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Get started</span></a>
    </li>
  </ol>
</nav>
<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large" style="padding-bottom: 15px" >Get started</h1>
      <ol class="task-list">
        <h2 class="task-list-section ">
          <span class="govuk-list govuk-list--number">1.</span>
          Check GovWifi is right for you
        </h2>
        <div class="task-list-items govuk-!-padding-bottom-3">
          <p> <a href="https://docs.wifi.service.gov.uk/requirements.html#requirements">Read the documentation</a> and make sure you meet all the technical requirements.</p>
          <p>You should also read and understand the:</p>
          <ul class="list list-bullet">
            <li> <a href="https://www.gov.uk/government/publications/terms-and-conditions-for-connecting-to-govwifi/terms-and-conditions-for-connecting-to-govwifi">terms and conditions</a> for any wifi users</li>
            <li> <a href="https://www.gov.uk/government/publications/govwifi-privacy-notice">privacy notice</a></li>
          </ul>
        </div>
        <h2 class="task-list-section">
          <span class="govuk-list govuk-list--number">2.</span>
          Create an admin account
        </h2>
        <div class="task-list-items govuk-!-padding-bottom-3">
          <p>
            <a href="https://admin.wifi.service.gov.uk/users/sign_up">Create an admin account</a>so you can:
          </p>
          <ul class="list list-bullet">
            <li> add new IP addresses </li>
            <li> add new team members </li>
            <li> find the connection details for the GovWifi RADIUS servers </li>
          </ul>
        </div>
        <h2 class="task-list-section">
          <span class="task-list-section-number">3.</span>
          Sign a memorandum of understanding
        </h2>
        <div class="task-list-items govuk-!-padding-bottom-3">
          <p>Someone in your organisation will need to sign the Memorandum of Understanding (MoU) before joining GovWifi.
          <p>
          <p>Whoever signs the MoU must have permission to sign off and procure services in your organisations.</p>
          <p>Contact us at <a href="mailto:govwifi-support@digital.cabinet-office.gov.uk">govwifi-support@digital.cabinet-office.gov.uk</a> for a copy of this document. </p>
        </div>
        <h2 class="task-list-section">
          <span class="govuk-list govuk-list--number">4.</span>
          Configure your infrastructure
        </h2>
        <div class="task-list-items govuk-!-padding-bottom-3">
          <p>You’ll find help on how to do this within your account but you can also  <a href="https://docs.wifi.service.gov.uk/phase1.html#phase-1-create-a-new-wifi-installation">follow the phases in the documentation.</a></p>
        </div>
      </ol>
    </div>
  </div>
</div>
