---
title: Index Page Example
---

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">Overview</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Free online access in government buildings</h1>
          <div class="hero__inline-image">
            <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
          </div>
          <p class="hero__description">
            GovWifi allows staff and visitors in government and <br>
            public sector organisations to stay connected to a secure <br>
            wifi service when they move between buildings.
          </p>
          <a href="https://www.gov.uk/government/collections/connect-to-govwifi" role="button" class="hero-button">
            Connect to GovWifi now
          </a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2>Benefits</h2>
        <ul class="list list-bullet">
          <li>It’s free</li>
          <li>It makes staff more productive</li>
          <li>It’s quick and easy to install</li>
          <li>Visitors can join GovWifi self-sufficiently</li>
        </ul>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2>How it works</h2>
        <p>GovWifi is an authentication service running in the cloud that makes all participating wifi networks appear as one. Organisations configure their wifi infrastructure to access the GovWifi authentication service using the RADIUS open standard.</p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2>Security</h2>
        <p class="content-section__body">GovWifi has processes in place to:</p>
        <ul class="list list-bullet">
          <li>protect user data</li>
          <li>keep systems secure</li>
          <li>manage risks around information</li>
        </ul>
        <br>

        <p class="content-section__body">How we keep GovWifi secure:</p>
        <ul class="list list-bullet">
          <li>protective monitoring to record activity, and raise alerts</li>
          <li>about any suspicious activity</li>
          <li>Hosted in multiple physical locations for failover</li>
          <li>Encryption at rest</li>
          <li>Regular penetration testing</li>
        </ul>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2>GDPR</h2>
        <p class="content-section__body">
          GovWifi doesn't keep any more data than it needs to.
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h1 class="govuk-heading-xl">Sign up your organisation</h1>
        <p>You can read the <%= link_to "documentation", "https://govwifi-tech-docs.cloudapps.digital/" %>, or</p>
        <%= link_to "Sign up", "https://admin-platform.wifi.service.gov.uk/users/sign_up", class: "button" %>
      </section>

    </div>
  </div>
</div>
