<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Join GovWifi so your users stay connected across organisations</h1>
        <div class="hero__inline-image">
          <img src="/images/Product-illustration-150-crop-2.png" alt="" role="presentation" width="100%">
        </div>
        <p class="hero__description">
          Make your public sector network accessible through a single user login.
        </p>
        <%= link_to "See how to get started", "/get-started", class: "hero-button" %>
        <p class="hero__user-text">
          Or, <%= link_to "connect to an existing GovWifi network", '/connect' %>.
        </p>
      </div>
      <div class="hero__aside-image">
        <img src="/images/Product-illustration-150-crop-2.png" alt="" role="presentation" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2> Users only need to sign up once<br></h2>
        <p class="content-section__body">
          Once users have signed up they’ll automatically be connected when visiting organisations that use Govwifi.
        </p>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section content-section--with-top-border">
        <h2>Keep your existing infrastructure</h2>
        <p class="content-section__body">
         You won't have to change your infrastructure or current Wifi provider.<br>
         GovWifi just makes all participating wifi networks appear as one to users.
        </p>
        </section>


        <section class="content-section content-section--with-top-border">
        <h2>Keep your users safe</h2>
          <p>GovWifi is tested to keep users secure with features like:</p>
          <ul class="list-bullet">
            <li>protective monitoring to record activity, and raise alerts</li>
            <li>Encryption at rest</li>
            <li>Regular penetration testing</li>
        </ul>
      </section>


      <section class="content-section content-section--with-top-border">
        <h2>The team</h2>
          <p>
          GovWifi is built and managed by a full-time team of
            developers, designers and product managers at GDS. </p>
      </section>
