---
title: Index Page Example
---
<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Join the single Wifi authentication service</h1>
        <div class="hero__inline-image">
          <img src="/images/Product-illustration-150-crop-2.png" alt="" role="presentation" width="100%">
        </div>
        <p class="hero__description">
          Install GovWifi so your users can stay connected in any building.
        </p>
        <a href="https://admin.wifi.service.gov.uk/users/sign_up" class="hero-button">Get GovWifi for your organisation</a>
        </a>
        <p class="hero__user-text"> Check if you're ready for GovWifi in our <a href="https://docs.wifi.service.gov.uk/requirements.html#requirements">technical documentation</a>. </p>
        <p class="hero__user-text"> Connecting to GovWifi as a user? See <a href="/connect.html">instructions on how to connect</a></p>
      </div>
      <div class="hero__aside-image">
        <img src="/images/Product-illustration-150-crop-2.png" alt="" role="presentation" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2>No more wasted time finding passwords</h2>
        <p class="content-section__body">
          Users only need to sign up once. <br>
          After that they’ll automatically be connected in any building that uses Govwifi.
        </p>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section content-section--with-top-border">
        <h2>Keep your existing infrastructure</h2>
        <p class="content-section__body">
         You won't have to change your infrastructure or current Wifi provider.<br>
         GovWifi just makes all participating wifi networks appear as one to users.
        </p>
        </section>


        <section class="content-section content-section--with-top-border">
        <h2>Designed to meet government security standards</h2>
          <p>GovWifi is tested to keep users safe with features like:</p>
          <ul class="list-bullet">
            <li>protective monitoring to record activity, and raise alerts</li>
            <li>Encryption at rest</li>
            <li>Regular penetration testing</li>
        </ul>
      </section>


      <section class="content-section content-section--with-top-border">
        <h2>Supported by the team that builds it</h2>
          <p>
          GovWifi is built and managed by a full-time team of
            developers, designers and product managers at GDS. </p>
          <p>The team provides 24/7 support during office hours. </p>
      </section>
