---
title: Public sector guest wifi - GovWifi
description: GovWifi allows staff and visitors to use a single user login to connect to guest wifi across multiple government and public sector organisations.
---
<main role="main" id="main">
  <div class="masthead">
    <div class="hero">
      <div class="hero__content govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="hero__body">
            <h1 class="hero__title govuk-heading-xl">Public sector guest wifi</h1>
            <div class="hero__inline-image">
              <img src="/images/Product-illustration.png" alt="" role="presentation" width="100%">
            </div>
            <p class="hero__description govuk-body">
              GovWifi is a wifi authentication service allowing staff and visitors to use a single username and password to connect to guest wifi across the public sector.
            </p>
            <a href="https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/" role="button" class="hero-button govuk-button govuk-button--start" data-click-events="" data-click-category="Hero" data-click-action="Button clicked">
              Connect to GovWifi
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>
            </a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="hero__aside-image main-image">
            <img src="/images/Product-illustration.png" alt="govwifi-image" role="presentation" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-l">Connect a device</h2>
          <p class="govuk-body">Sign up to connect your device to the GovWifi network across the public sector.</p>
          <p class="govuk-body govuk-!-margin-bottom-8">
            <strong><%= link_to "Connect a device", "/about-govwifi/connect-to-govwifi/", class: "govuk-link govuk-link--no-visited-state" %></strong>
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-l">Offer GovWifi</h2>
          <p class="govuk-body">Make GovWifi available in your organisation and keep your existing infrastructure and
            wifi provider.</p>
          <p class="govuk-body govuk-!-margin-bottom-8">
            <strong><%= link_to "Offer GovWifi", "https://docs.wifi.service.gov.uk", class: "govuk-link govuk-link--no-visited-state" %></strong>
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-l">Manage GovWifi</h2>
          <p class="govuk-body">Manage an existing GovWifi installation in your organisation as an administrator.</p>
          <p class="govuk-body govuk-!-margin-bottom-8">
            <strong><%= link_to "Network administrator login", "https://admin.wifi.service.gov.uk", class: "govuk-link govuk-link--no-visited-state" %></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "GovWifi",
  "brand": "GovWifi",
  "alternateName": "Gov Wifi",
  "audience": "UK public sector staff and visitors",
  "slogan": "UK Public sector guest wifi",
  "potentialAction": "Connect to GovWifi",
  "serviceType": "Network connectivity",
  "serviceOutput": "GovWifi uses RADIUS server technology to authenticate users’ usernames and passwords. Participating public sector organisations keep their existing wifi infrastructure and configure it to access the GovWifi authentication service.",
  "description": "GovWifi is a wifi authentication service allowing staff and visitors to use the same credentials (username and password) to connect to guest wifi across UK public sector organisations.",
  "url": "https://www.wifi.service.gov.uk/",
  "mainEntityOfPage": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
  "logo": "https://www.wifi.service.gov.uk/images/Product-illustration.png",
  "serviceArea": {
    "@type": "Place",
    "name": "United Kingdom"
  },
  "availableChannel": {
    "@type": "serviceChannel",
    "serviceUrl": "https://www.wifi.service.gov.uk/",
    "servicePostalAddress": "10 Whitechapel High Street, London, E1 8QS"
  },
  "provider": {
    "@type": "Organization",
    "name": "Government Digital Service (UK)",
    "url": "https://www.gov.uk/government/organisations/government-digital-service"
  },
  "category": {
    "@type": "Service",
    "name": "Government service"
  },
  "termsOfService": "https://www.wifi.service.gov.uk/terms-and-conditions/",
  "sameAs": [
    "https://www.gov.uk/government/publications/govwifi/govwifi",
    "https://www.gov.uk/government/publications/govwifi/govwifi#how-govwifi-works",
    "https://www.gov.uk/government/publications/govwifi/govwifi#availability-and-support",
    "https://www.gov.uk/performance/govwifi",
    "https://gds.blog.gov.uk/2019/02/12/govwifi-connecting-your-organisation-is-now-easier-than-ever/",
    "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
    "https://www.wifi.service.gov.uk/about-govwifi/organisations-using-govwifi/",
    "https://www.wifi.service.gov.uk/about-govwifi/",
    "https://www.wifi.service.gov.uk/about-govwifi/how-govwifi-works/",
    "https://gds.blog.gov.uk/2017/09/19/govwifi-ready-to-make-more-connections/"
  ]
}
</script>
