---
title: Index Page Example
---

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs" data-click-events data-click-category="Header" data-click-action="Breadcrumb clicked">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Overview</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">GovWifi</h1>
        <div class="hero__inline-image">
          <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
        </div>
        <p class="hero__description">
          GovWifi allows Government employees to go online when working across Government buildings
        </p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-half">
        <div class="column-three-quarters">
          <h2 class="heading-l">For Users</h2>
          <p class="body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
            vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
          </p>
          <%= link_to "How to Sign Up", "#", class: "hero-button" %>
        </div>
      </div>

      <div class="column-one-half">
        <div class="column-three-quarters">
          <h2 class="heading-l">For Teams</h2>
          <p class="body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in
            vestibulum lectus. Suspendisse molestie mollis metus quis maximus.
          </p>
            <%= link_to "Sign up Organisation", "#", class: "hero-button" %>

            <span class="hero-alternative-action">
              or <%= link_to "login", "#" %> if your organisation is signed up
            </span>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="heading-large content-section__first-heading">What is GovWifi</h2>
        <p>GovWifi allows staff and visitors in government and public sector organisations to stay connected to a secure wifi service when they move between buildings.</p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-large content-section__first-heading">Benefits</h2>

        <ul class="list list-bullet">
          <li>It’s free</li>
          <li>It makes staff more productive</li>
          <li>It’s quick and easy to install</li>
          <li>Visitors can join GovWifi self-sufficiently</li>
        </ul>

      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="heading-large content-section__first-heading">How it works</h2>
        <p>GovWifi is an authentication service running in the cloud that makes all participating wifi networks appear as one. Organisations configure their wifi infrastructure to access the GovWifi authentication service using the RADIUS open standard.</p>
      </section>
    </div>
  </div>

  <section class="content-section content-section--with-top-border">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large content-section__first-heading">Security</h2>
        <p class="content-section__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      </div>
    </div>
  </section>



</div>
