---
title: Public sector guest wifi - GovWifi
description: GovWifi allows staff and visitors to use a single user login to connect to guest wifi across multiple government and public sector organisations.
---

<div class="masthead">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Connect to the public sector guest wifi network</h1>
        <div class="hero__inline-image">
          <img src="/images/Product-illustration.png" alt="" role="presentation" width="100%">
        </div>
        <p class="hero__description">
          GovWifi allows staff and visitors to use a single user login to connect
          to guest wifi across multiple government and public sector organisations.
        </p>
      </div>
      <div class="hero__aside-image main-image">
        <img src="/images/Product-illustration.png" alt="govwifi-image" role="presentation" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <h2>Access GovWifi</h2>
      <p>Sign up to connect your device to the GovWifi network across the public sector.</p>
      <%= link_to "Connect your device", "/about-govwifi/connect-to-govwifi/", class: "govuk-link bold" %>
    </div>

    <div class="column-one-third">
      <h2>Offer GovWifi</h2>
      <p>Make GovWifi available in your organisation and keep your existing infrastructure and wifi provider.</p>
      <%= link_to "Offer GovWifi", "https://docs.wifi.service.gov.uk", class: "govuk-link bold" %>
    </div>

    <div class="column-one-third">
      <h2>Manage GovWifi</h2>
      <p>Manage an existing GovWifi installation in your organisation as an administrator.</p>
      <%= link_to "Network administrator login", "https://admin.wifi.service.gov.uk", class: "govuk-link bold" %>
    </div>
  </div>
</div>
