---
title: Help and support - GovWifi
description: Help and support connecting to GovWifi
---
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= partial 'shared/support/sidebar' %>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large">GovWifi support</h1>
      <p>
        GovWifi access in your building is provided by the participating
        government or public sector organisation.
      </p>
      <p>
        If you experience any problems with wifi access, please contact the
        relevant organisation IT Support team.
      </p>

      <h2 class="heading-medium">Network problems</h2>
      <p>
        If you can’t see the GovWifi network in your wifi settings, you might be
        in a building that doesn’t have GovWifi. Contact the organisation IT
        Support team to check.
      </p>
      <p>
        You can check which government or public sector
        <%= link_to "organisations currently offer GovWifi.",
        "/about-govwifi/organisations-using-govwifi",
        class: "govuk-link" %>
      </p>

      <h2 class="heading-medium">Government managed device problems</h2>
      <p>
        Some managed devices may tell you that you don’t have permission to
        connect to GovWifi.
      </p>
      <p>
        If you think you are using a managed device, contact your local IT team.
        They’ll tell you if:
        <ul class="list list-bullet">
          <li>they can install a profile for GovWifi so that you can connect</li>
          <li>you’re using a secure government device that’s not allowed to connect to GovWifi</li>
        </ul>
      </p>

      <h2 class="heading-medium">Network administrator support</h2>
      <p>
        If you manage public sector IT services and require support setting up
        a new or managing an existing GovWifi installation, please
        <%= link_to "contact us", "https://admin.wifi.service.gov.uk/help", class: "govuk-link" %>
      </p>
      <p>
        The Government Digital Service (GDS) maintains the service behind GovWifi
        and helps network administrators to set up or manage existing GovWifi
        installation in their organisation.
      </p>
      <p>
        GDS provides operational support from 10am to 4pm, Monday to Friday.
      </p>
    </div>
  </div>
</div>
