---
title: Help and support - GovWifi
description: Help and support connecting to GovWifi
---
<div class="container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "GovWifi support" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <%= partial 'shared/support/sidebar' %>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large">GovWifi support</h1>

      <h2 class="heading-medium">User support</h2>
      <p>
        Use the left-hand navigation bar to view our support guides for assistance in connecting to GovWifi for the first time.
      </p>
      <p>
        If you need a username or password reminder, please send a blank email from the email address you registered with to <%= link_to "signup@wifi.service.gov.uk", "mailto: signup@wifi.service.gov.uk" %>.
      </p>
        <p>
        For additional support, please contact the IT support desk in your building. They will be able to check your device and also ensure the local network is working. 
      </p>
      
      <h2 class="heading-medium">Network administrator support</h2>
      <p>
        We provide network administrator guidance on how to install and manage GovWifi in your organisation in our <%= link_to "technical documentation", "https://docs.wifi.service.gov.uk/", class: "govuk-link" %>.
      </p>
    </div>
  </div>
</div>
