---
title: Help and support - GovWifi
description: Help and support connecting to GovWifi
---
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= partial 'shared/support/sidebar' %>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large">GovWifi support</h1>

      <h2 class="heading-medium">GovWifi support</h2>
      <p>
        GovWifi access in your building is provided by the participating
        government or public sector organisation.
      </p>
      <p>
        If you experience any problems with wifi access, please contact the
        relevant organisation IT Support team.
      </p>
      <p>
        You can check which government or public sector organisations currently
        <%= link_to "offer GovWifi.", "/about-govwifi/organisations-using-govwifi",
        class: "govuk-link" %>
      </p>

      <h2 class="heading-medium">Network administrator support</h2>
      <p>
        If you manage public sector IT services and require support setting up a
        new or managing an existing GovWifi installation, please
        <%= link_to "contact us.", "https://admin.wifi.service.gov.uk/help", class: "govuk-link" %>
      </p>
      <p>
        The Government Digital Service (GDS) maintains the service behind GovWifi
        and helps network administrators to set up or manage existing GovWifi
        installation in their organisation.
      </p>
    </div>
  </div>
</div>
