---
title: Help and support - GovWifi
description: Help and support connecting to GovWifi
---
<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= partial 'shared/support/sidebar' %>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large">GovWifi support</h1>

      <h2 class="heading-medium">User support</h2>
      <p>
        Use the left-hand navigation bar to view our support guides for assistance in connecting to GovWifi for the first time.
      </p>
      <p>
        GovWifi access in your building is provided by the participating <%= link_to "government or public sector organisation", "/about-govwifi/organisations-using-govwifi". Please contact the relevant IT Support team in your building for assistance.
      </p>
       <p>
        If you need a username or password reminder, please send a blank email from your government or public sector email address to <%= link_to "signup@wifi.service.gov.uk", "mailto: signup@wifi.service.gov.uk" %>.
      </p>
      <h2 class="heading-medium">Network administrator support</h2>
      <p>
        If you manage public sector IT services and require support setting up a
        new or managing an existing GovWifi installation, please
        <%= link_to "contact us", "https://admin.wifi.service.gov.uk/help", class: "govuk-link" %>.
      </p>
      <p>
        The Government Digital Service (GDS) maintains the service behind GovWifi
        and helps network administrators to set up or manage existing GovWifi
        installation in their organisation.
      </p>
    </div>
  </div>
</div>
