---
title: Terms and conditions - GovWifi
description: These terms apply to your use of GovWifi. You must agree to these to use GovWifi.
---

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-l">GovWifi Terms and Conditions</h1>
      <h2 class="govuk-heading-m">The GovWifi service</h2>
      <p>
        GovWifi is a cross-government service that provides wifi access in government
        buildings. It’s managed centrally by Government Digital Service (GDS), which
        is part of the Cabinet Office. It’s set up and supported by host organisations
        which provide the service to one or more government organisations.
      </p>

      <h2 class="govuk-heading-m">Terms and conditions for connecting to GovWifi</h2>
      <p>
        By connecting to GovWifi, you agree to the following terms and conditions:

        <ol class="list list-number">
          <li>
            You’re bound by the acceptable use policy of your host organisation.
          </li>
          <li>
            Public sector workers must comply with the standards of behaviour
            that are expected by your employer or government organisation, including
            the Civil Service Code and the social media guidance for civil servants.
          </li>
          <li>
            Your host organisation may:
            <ul class="list list-bullet">
              <li>restrict access for lawful purposes</li>
              <li>
                set their own acceptable use policies - contact your host
                organisation for more information on their policies
              </li>
            </ul>
          </li>
          <li>
            GDS will store your connection details, including your:
            <ul class="list list-bullet">
              <li>email address</li>
              <li>mobile telephone number</li>
              <li>authentication attempts</li>
              <li>activation and last login dates</li>
              <li>IP address</li>
            </ul>
          </li>
          <li>
            GDS will share this information with any host organisation from which
            you access the service, upon their request. GDS does not control, log
            or otherwise influence your network traffic when you’re authenticated
            to GovWifi.
          </li>
          <li>
            Your data will be stored while your account is active. Your data will
            be deleted when your account has been inactive for 12 months. You’ll
            need to sign up to GovWifi again to use it.
          </li>
          <li>
            GDS may occasionally contact you by email or text message, using the
            information you’ve provided, to give you important information about
            the GovWifi service, including:

            <ul class="list list-bullet">
              <li>major changes to GovWifi</li>
              <li>changes to these terms and conditions</li>
              <li>requests for feedback, in order to improve GovWifi</li>
            </ul>
          </li>

          <li>
            Contact GDS if you would prefer not to receive messages asking for feedback.
          </li>

          <li>
            GDS can change these terms and conditions at any time. We’ll tell you
            about any change by email or text message, at least 10 days before the
            change happens. GDSwill specify the date the change will happen in the
            message you receive. If you don’t accept the change, you must stop
            using GovWifi.
          </li>

          <li>
            You must not use this service for any unlawful purposes.
          </li>
        </ol>
      </p>

      <p>
        For GovWifi support for your managed device, contact your home organisation’s
        IT helpdesk. If it’s your own device ask your host organisation if they
        are able to help you.
      </p>

      <h2 class="govuk-heading-m">Terms and Conditions for Organisations</h2>
      <p>
        GovWifi lets public sector workers work in other departments’ and agencies’
        buildings without the need to register for the local guest wifi service.
        It has been designed so that it can replace existing guest wifi services if
        required. Organisations wanting to use GovWifi for other purposes should
        contact GDS for advice.
      </p>

      <h3 class="govuk-heading-s">GDPR (General Data Protection Requirements)</h3>
      <p>
        GDPR is covered in our Memorandum of Understanding (MoU). To confirm your
        organisation’s acceptance of these data protection requirements you will
        need to download and sign the MoU in the GovWifi Admin Portal.
      </p>

      <h3 class="govuk-heading-s">Services and Standards</h3>
      <p>
        GDS will provide the GovWifi Authentication Service to the participating
        organisation to allow Users to self-enrol and connect to the local wifi
        network. Once enrolled, the credentials created can then be saved to the
        User’s mobile device and will allow the User to seamlessly access GovWifi
        in any participating Government location. GDS will also provide:

        <ul class="list list-bullet">
          <li>
            the GovWifi Authentication Service, removing the burden of deploying
            and maintaining authentication systems across government premises
          </li>
          <li>
            simple and coherent methods for self-enrolment and guest enrolment
            onto the GovWifi Authentication Service
          </li>
          <li>
            guidance on how to configure locally procured / installed hardware
            to use the Authentication Service
          </li>
          <li>
            guidance on how to configure departmentally-controlled end user
            devices to connect to the service in any participating location
          </li>
        </ul>
      </p>

      <h3 class="govuk-heading-s">GDS will not be responsible for:</h3>
      <p>
        <ul class="list list-bullet">
          <li>providing hardware that lets you to access the GovWifi Authentication Service</li>
          <li>
            specifying, managing, installing or certifying any changes to existing
            services and/or network cabling or connections to facilitate or improve
            access to the GovWifi Authentication Service
          </li>
        </ul>
      </p>

      <h3 class="govuk-heading-s">Supplier payments</h3>
      <p>
        GDS:
        <ul class="list list-bullet">
          <li>
            will cover the cost of development and operation of the GovWifi
            Authentication Service
          </li>
          <li>
            will not charge the organisation for the use of the GovWifi
            Authentication Service
          </li>
        </ul>
      </p>

      <p>
        The participating organisation will secure in-building infrastructure
        and use network intrusion detection at least sufficient to detect threats
        such as unauthorised access points.
      </p>

      <h3 class="govuk-heading-s">Support for GovWifi</h3>
      <p>
        GDS:
        <ul class="list list-bullet">
          <li>
            will provide a support service during standard UK office hours to the
            Department’s IT teams
          </li>
          <li>
            will not provide a support service directly to Users.
          </li>
        </ul>
      </p>
      <p>
        GDS services are not designed for, or intentionally targeted at, children
        13 years of age or younger. It is not our policy to intentionally collect
        or maintain data about anyone 13 years of age or younger. Therefore each
        organisation is responsible for its own Privacy of Data management under
        the Data Protection Legislation/GDPR. GovWifi is currently in public beta
        which means that it is being continually tested and improved as part of
        ongoing research. Any amendments to the terms and conditions will be notified
        to your department’s nominated site administrators within seven working days
        of the amendment being made.
      </p>
    </div>
  </div>
</div>
