---
title: Terms and conditions - GovWifi
description: These terms apply to your use of GovWifi. You must agree to these to use GovWifi.
---

<main class="govuk-width-container" role="main" id="main">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">GovWifi Terms and Conditions</h1>
        <h2 class="govuk-heading-m">The GovWifi service</h2>
        <p class="govuk-body">
   GovWifi is a cross-government service that provides wifi access in public sector buildings and is managed centrally by the Cabinet Office. It’s set up and supported by the digital services of participating organisations.
        </p>
        <h2 class="govuk-heading-m">Terms and conditions for connecting to GovWifi</h2>
        <p class="govuk-body">By connecting to GovWifi, you agree to the following terms and conditions:</p>
        <ol class="govuk-list govuk-list--number">
          <li>You’re bound by the acceptable use policy of your host organisation.</li>
          <li>
            Public sector workers must comply with the standards of behaviour
            that are expected by your employer or government organisation, including
            the Civil Service Code and the social media guidance for civil servants.
          </li>
          <li>
            Your host organisation may:
            <ul class="govuk-list govuk-list--bullet">
              <li>restrict access for lawful purposes</li>
              <li>
                set their own acceptable use policies - contact your host
                organisation for more information on their policies
              </li>
            </ul>
          </li>
          <li>
            Cabinet Office will store your connection details, including your:
            <ul class="govuk-list govuk-list--bullet">
              <li>email address</li>
              <li>mobile telephone number</li>
              <li>authentication attempts</li>
              <li>activation and last login dates</li>
              <li>IP address</li>
            </ul>
          </li>
          <li>
            Cabinet Office will share this information with any host organisation from which
            you access the service, upon their request. Cabinet Office does not control, log
            or otherwise influence your network traffic when you’re authenticated
            to GovWifi.
          </li>
          <li>
            Your data will be stored while your account is active. Your data will
            be deleted when your account has been inactive for 12 months. You’ll
            need to sign up to GovWifi again to use it.
          </li>
          <li>
            Cabinet Office may occasionally contact you by email or text message, using the
            information you’ve provided, to give you important information about
            the GovWifi service, including:
            <ul class="govuk-list govuk-list--bullet">
              <li>major changes to GovWifi</li>
              <li>changes to these terms and conditions</li>
              <li>requests for feedback, in order to improve GovWifi</li>
            </ul>
          </li>

          <li>[Email the GovWifi team](mailto:govwifi-support@digital.cabinet-office.gov.uk) if you do not want to receive messages asking for feedback.</li>

          <li>
            Cabinet Office can change these terms and conditions at any time. We’ll tell you
            about any change by email or text message, at least 10 days before the
            change happens. Cabinet Office will specify the date the change will happen in the
            message you receive. If you do not accept the change, you must stop
            using GovWifi.
          </li>

          <li>You must not use this service for any unlawful purposes.</li>
        </ol>

        <p class="govuk-body">
          For GovWifi support for your managed device, contact your home organisation’s
          IT helpdesk. If it’s your own device ask your host organisation if they
          are able to help you.
        </p>
      </div>
    </div>
  </div>
</main>
