---
title: What is GovWifi? - GovWifi
---

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <div>
        <%= partial 'shared/product/sidebar' %>
      </div>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">What is GovWifi?</h1>
      <p>
        GovWifi is a wifi authentication service running in the cloud that makes all the various participating government and public sector guest wifi networks appear as one.
      </p>
      <p>
        Staff and visitors are able to connect to a single secure guest wifi service as they move across multiple government and public sector organisations.
      </p>
      <div class="govuk-inset-text">
        <%= link_to "Learn more about how to connect your device to GovWifi", "/connect-to-govwifi" %>
      </div>
    </div>
  </div>
</div>
