#cookie-preferences-amended {
  .container {
    border: 3px solid govuk-colour("green");
    margin-bottom: govuk-spacing(6);
    padding: govuk-spacing(4);
  }

  h2 {
    color: govuk-colour('green');
    margin-bottom: 0;
  }
}
