// Hero Button Component
//
// Notes:
// - Ensure you include shim-links-with-button-role.js from GOV.UK Frontend
//   Toolkit to ensure that the link acts like a button (i.e. the space bar
//   should trigger it).
//
// Example Usage:
//
// <a href="#" role="button" class="hero-button">
//   Do this thing
// </a>

$hero-button-arrow-width: 26px;
$hero-button-arrow-height: 30px;

@mixin hero-box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // Chrome 4.0 to 9.0, Safari 3.1 to 5.0, Mobile Safari 3.2 to 4.3, Android Browser 2.1 to 3.0
  -moz-box-shadow: $shadow; // Firefox 3.5 to 3.6
  box-shadow: $shadow;
}

$path: false !default;

@function hero-file-url($file) {
  $url: '';
  @if $path {
    $url: url($path + $file);
  } @else {
    $url: image-url($file);
  }
  @return $url;
}

a.hero-button {
  //@include button($white);
  @include govuk-font(24, $weight: bold);
  @include hero-box-shadow(0 2px 0 darken(govuk-colour("blue"), 10%));

  background-image: hero-file-url("images/hero-button/arrow.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;

  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em; // 5px 34px 3px 13px
  margin: 0 0.416666667em 0.416666667em 0; // 0 10px 10px 0

  display: block;
  text-align: center;

  @include govuk-device-pixel-ratio($ratio: 2) {
    background-image: hero-file-url("images/hero-button/arrow@2x.png");
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    text-align: left;
  }

  &,
  &:link,
  &:visited {
    color:  $govuk-link-colour	;
  }

  &:hover,
  &:active {
    background-color: govuk-colour("white");
  }

  &:hover {
    color:  $govuk-link-hover-colour;
  }

  &:active {
    color:  $govuk-link-active-colour;
  }
}
