// Hero Component
//
// Notes:
// - If using together with a breadcrumb in a masthead, add the --breaded
//   modifier to reduce top padding.
// - There are two images included – one is shown on mobile (hero__inline-image),
//   and the other on tablet and above. Both are optional.
//
// Example Usage:
//
//  <div class="hero hero--breaded">
//    <div class="hero__content">
//      <div class="hero__body">
//        <h1 class="hero__title">Duis aute irure dolor in reprehenderit</h1>
//        <div class="hero__inline-image">
//          <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
//        </div>
//        <p class="hero__description">
//          Lorem ipsum dolor sit amet, consectetur adipisicing elit
//        </p>
//        <a href="#" role="button" class="hero-button">
//          Do this thing
//        </a>
//        <span class="hero-alternative-action">
//          or <a href="#">do another thing</a> because reasons
//        </span>
//        <p>Pellentesque commodo arcu in sollicitudin lacinia. Vivamus lacus nibh, maximus nec laoreet eget, condimentum vel mi.</p>
//      </div>
//      <div class="hero__aside-image">
//        <img src="//placehold.it/646x492/005ea5/ffffff?text=A+supporting+image" alt="" role="presentation">
//      </div>
//    </div>
//  </div>

.hero {
  @include govuk-width-container;
  margin-top: 0;
  margin-bottom: 0;
  color: govuk-colour("white");
  padding: $govuk-gutter-half 0;

  @include govuk-media-query($from: tablet) {
    padding: $govuk-gutter 0;
  }

  &--breaded {
    padding-top: 0;
  }

  a:link,
  a:visited {
    color: govuk-colour("white");
  }

  a:hover,
  a:active {
    color: govuk-colour("light-blue");
  }

  a:focus {
    color: govuk-colour("black");
  }

  &__title {
    color: inherit;
    display: inline-block;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 1.25;
    color: govuk-colour("white");
    clear: both;

    @include govuk-media-query($from: tablet) {
      clear: none;
    }
  }

  &__title,
  &__description {
    margin-bottom: $govuk-gutter-half;

    @include govuk-media-query($from: tablet) {
      margin-bottom: $govuk-gutter;
    }
  }

  &__aside-image {
    max-width: 320px;
    margin: 0 auto;
    padding: $govuk-gutter-half;

    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }

  &__content {
    @extend .govuk-grid-row;
  }

  &__user-text {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
