// Phase Banner Component
//
// Example Usage:
//
// <span class="header__title">
//   My Product <span class="phase-banner">Beta</span>
// </span>

.phase-banner {
  @include bold-14;
  padding: 2px 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: middle;

  @include screen {
    background: $govuk-blue;
  }
}

.banner_text {
  padding-left: 16.5%;
  background-color: lightblue;
  color: black;
  margin-top: 0px;
  padding-top: 9px;
  padding-bottom: 5px;
}
