// Sticky Element Component
//
// Example Usage:
//
// <span class="header__title">
//   My Product <span class="sticky">Beta</span>
// </span>

.sticky {
  @include govuk-media-query($from: tablet) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
