.table-header {
  background-color: $govuk-blue;
  color: white;
  padding-left: 15px;
}

.striped-table {
  tr:nth-child(even) {
    background-color: $light-grey;
  }
  td {
    border: none;
    padding-left: 15px;
  }
}
