.no-js #search-table { display: none; }

.table-header {
  background-color: $govuk-brand-colour;
  color: white;
  padding-left: 15px;
}

.striped-table {
  tr:nth-child(even) {
    background-color: govuk-colour("light-grey");
  }
  td {
    border: none;
    padding-left: 15px;
  }
}
