// Sub Navigation Component
//
// Notes:
//
// - You may wish to add a suitable aria-label to differentiate between other
//   navigation landmarks on the page.
// - You can test the structured data using Google's structured data testing
//   tool: https://search.google.com/structured-data/testing-tool
// - You can use either an ordered or unordered list depending on what makes
//   sense for your page or collection of pages.
//
// Example Usage:
//
// <nav class="sub-navigation">
//   <ol itemscope itemtype="http://schema.org/ItemList">
//     <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
//       <a href="page-one.html" itemprop="item"><span itemprop="name">Another page one</span></a>
//     </li>
//     <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
//       <a href="page-two.html" itemprop="item"><span itemprop="name">Another page two</span></a>
//     </li>
//   </ol>
// </nav>

.sub-navigation {
  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include govuk-font(16);

    display: block;
    padding: 5px 5px 5px 0;
    margin-bottom: 5px;

    .app-subnav__link {
      text-decoration: none;
      padding: 2px 0;
    }

    .app-subnav__link:not(:focus):hover {
      text-decoration: underline;
    }
  }

  &__item--active {
    @include govuk-font(16, $weight: bold);
    border-left: 4px solid $govuk-brand-colour;
    margin-left: -14px;
    padding-left: 10px;

    a:link,
    a:visited {
      color: $govuk-brand-colour;
    }
  }
}
