// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include govuk-media-query($from: tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 35px;

.task-list {
  margin-top: $govuk-gutter;
  padding: 0;
  @include govuk-media-query($from: tablet) {
    margin-top: ($govuk-gutter * 2);
  }
}


.task-list-section {
  display: table;

  @include govuk-font(24, $weight: bold);
  padding-bottom: ($govuk-gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($govuk-gutter / 6);

  @include govuk-media-query($from: tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $govuk-gutter;
  @include govuk-media-query($from: tablet) {
    margin-bottom: ($govuk-gutter * 2);
  }

  @include govuk-media-query($from: tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  margin-left: 20px;
  // border-bottom: 1px solid $border-colour;
  // padding-top: $gutter-one-third;
  // padding-bottom: $gutter-one-third;
  @include govuk-clearfix;
}

.task-list-item:first-child {
  border-top: 1px solid $govuk-border-colour;
}
