---
title: Check if GovWifi is right for your organisation
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Overview</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Documentary</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Search
        </label>
      </div>
      <div>
        <input class="govuk-input govuk-input--width-40" id="width-40" name="width-40" type="text">
      </div>

      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">About GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/page-one.html"> Use </a> </li>
              <li> <a href="supplementary/page-one.html"> Benefits </a> </li>
              <li> <a href="supplementary/page-one.html"> Adoption rate </a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Technical requirements</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-two.html" itemprop="item"><span itemprop="name">Operational requirements</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">How to get started</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Trial phase</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Go live</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Maintain GovWifi</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Scale GovWifi</span></a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Troubleshooting</span></a>
          </li>


        </ol>
      </nav>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large">About GovWifi</h1>
      <h2>Use</h2>
      <p>GovWifi is an authentication service running in the cloud that makes all the various participating
        wifi networks appear as one. Participating organisations configure their wifi infrastructure to
        access the GovWifi authentication service using the RADIUS open standard.</p>
      <p>Each end user is protected with unique credentials and encryption keys when they log in to the
        wifi and access the internet. These credentials are randomly generated so can’t be used to get into
        other systems if stolen.</p>
      <p>Once logged in, users can access their organisation’s resources in the same way they would if they
        were working away from the office. Depending on an organisation’s requirements, users may need to
        use a virtual private network (VPN). Users’ devices are isolated from each other to stop the
        horizontal spread of malware and protect secure devices from less secure ones.</p>
      <p>The network also identifies itself in a way that can’t be spoofed, adding to the safety measures that
        provide protection from potential attackers.</p>
    </div>
  </div>
</div>
