---
title: Check if GovWifi is right for your organisation
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">Overview</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Documentary</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Search
        </label>
      </div>
      <div>
        <input class="govuk-input govuk-input--width-40" id="width-40" name="width-40" type="text">
      </div>

      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/about-govwifi.html" itemprop="item"><span itemprop="name">About GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/about-govwifi.html">Use</a> </li>
              <li> <a href="supplementary/about-govwifi.html">Benefits</a> </li>
              <li> <a href="supplementary/about-govwifi.html">Adoption rate</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Before you start</span></a>
            <ul>
              <li> <a href="supplementary/before-you-start.html">Check if GovWifi is right</a> </li>
              <li> <a href="supplementary/before-you-start.html">Terms and conditions</a> </li>
              <li> <a href="supplementary/before-you-start.html">Privacy notice</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/requirements.html" itemprop="item"><span itemprop="name">Requirements and recommendations</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Administrator requirements</a> </li>
              <li> <a href="supplementary/requirements.html">Hardware recommended on network infrastructure</a> </li>
              <li> <a href="supplementary/requirements.html">Wireless AP configuration</a> </li>
              <li> <a href="supplementary/requirements.html">Operational requirements</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Set up GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Step 1: Apply to create a new GovWifi</a> </li>
              <li> <a href="supplementary/requirements.html">Step 2: Establish your public IP addresses</a> </li>
              <li> <a href="supplementary/requirements.html">Step 3: Register your site to GovWifi</a> </li>
              <li> <a href="supplementary/requirements.html">Step 4: Configure your infrastructure</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Trial phase</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">General information</a> </li>
              <li> <a href="supplementary/requirements.html">How to test</a> </li>
              <li> <a href="supplementary/requirements.html">How to measure the performance</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Go live</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">When to go live</a> </li>
              <li> <a href="supplementary/requirements.html">What will be different</a> </li>
              <li> <a href="supplementary/requirements.html">Inform your users</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Maintain GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Administration Platform</a> </li>
              <li> <a href="supplementary/requirements.html">Add locations</a> </li>
              <li> <a href="supplementary/requirements.html">Change admins</a> </li>
              <li> <a href="supplementary/requirements.html">Request information</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Troubleshooting</span></a>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Scale GovWifi</span></a>
            <ul>
              <li> <a href="supplementary/requirements.html">Advertise GovWifi</a> </li>
              <li> <a href="supplementary/requirements.html">Withdraw legacy services</a> </li>
            </ul>
          </li>

          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="supplementary/page-one.html" itemprop="item"><span itemprop="name">Leave GovWifi</span></a>
          </li>


        </ol>
      </nav>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large">About GovWifi</h1>
      <h2>Check if GovWifi is right for you</h2>
      <p>Content needed.</p>

      <h2>GovWifi Terms and conditions</h2>
      <p>End users must agree to the GovWifi Terms and Conditions before using the service.</p>
      <p>By connecting to GovWifi, you agree to the following terms and conditions:</p>
      <ul class="list list-bullet">
        <li>You’re bound by the acceptable use policy of your host organisation.</li>
        <li>Public sector workers must comply with the standards of behaviour that are expected by your
          employer or government organisation, including the Civil Service Code and the social media
          guidance for civil servants.</li>
        <li>Your host organisation may:
          <ul>
            <li>restrict access for lawful purposes</li>
            <li>set their own acceptable use policies</li>
            <li>contact your host organisation for more information on their policies</li>
          </ul>
        </li>
        <li>GDS will store your connection details, including your::
          <ul>
            <li>email address</li>
            <li>mobile telephone number</li>
            <li>authentication attempts</li>
            <li>activation and last login dates</li>
            <li>IP address</li>
          </ul>
        </li>
        <li>You’re bound by the acceptable use policy of your host organisation.</li>
        <li>You’re bound by the acceptable use policy of your host organisation.</li>
        <li>You’re bound by the acceptable use policy of your host organisation.</li>
        <li>You’re bound by the acceptable use policy of your host organisation.</li>
        <li>You’re bound by the acceptable use policy of your host organisation.</li>


      <h2>Adoption rate</h2>
      <p>GovWifi currently has over 160,000 registered users, and around 50,000unique users every day.</p>
      <p>For more information see GovWifi’s page on the GOV.UK Performance Platform.</p>

    </div>
  </div>
</div>
